@import 'tailwindcss';

@theme {
  /* spacing */
  --spacing-3.5: 0.875rem;
  --spacing-3.75: 0.938rem;
  --spacing-4.5: 1.125rem;
  --spacing-5.5: 1.375rem;
  --spacing-11.1: 2.781rem;
  --spacing-12.5: 3.125rem;
  --spacing-16.62: 4.156rem;
  --spacing-22: 5.5rem;
  --spacing-22.25: 5.563rem;
  --spacing-22.5: 5.625rem;
  --spacing-26: 6.5rem;
  --spacing-29.75: 7.438rem;
  --spacing-32.5: 8.125rem;
  --spacing-34.5: 8.625rem;
  --spacing-39.25: 9.813rem;
  --spacing-72.5: 18.125rem;
  --spacing-75: 18.75rem;
  --spacing-111.25: 27.813rem;
  --spacing-112: 28rem;
  --spacing-137.5: 34.375rem;

  /* container */
  --container-desktop: 69.375rem;
  --container-navbar-left-mobile: 15.625rem;
  --container-navbar-left-tablet: 18.813rem;
  --container-cart-mobile: 22.5rem;

  /* radius */
  --radius-10px: 0.625rem;
  --radius-15px: 0.938rem;

  /* colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-950: #1d2026;
  --color-grey-500: #69707d;
  --color-grey-300: #c3cad9;
  --color-grey-100: #e4e9f2;
  --color-grey-50: #f6f8fd;
  --color-orange-500: #ff7e1b;
  --color-orange-300: #ffab6a;

  /* text */
  --text-preset-1: 2.75rem;
  --text-preset-1--line-height: 3rem;
  --text-preset-1--letter-spacing: 0rem;
  --text-preset-1--font-weight: 700;

  --text-preset-2: 1.75rem;
  --text-preset-2--line-height: 2rem;
  --text-preset-2--letter-spacing: 0rem;
  --text-preset-2--font-weight: 700;

  --text-preset-3: 1rem;
  --text-preset-3--line-height: 1.625rem;
  --text-preset-3--letter-spacing: 0rem;

  --text-preset-4: 0.938rem;
  --text-preset-4--line-height: 1.625rem;
  --text-preset-4--letter-spacing: 0rem;
  --text-preset-4--font-weight: 400;

  --text-preset-5: 0.813rem;
  --text-preset-5--line-height: 1rem;
  --text-preset-5--letter-spacing: 0.125rem;
  --text-preset-5--font-weight: 700;

  --text-preset-6: 0.75rem;
  --text-preset-6--line-height: 0.938rem;
  --text-preset-6--letter-spacing: 0.116rem;
  --text-preset-6--font-weight: 700;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Kumbh Sans', sans-serif;
  height: 100%;
}

.button-shadow-orange {
  box-shadow: 0 20px 50px -10px rgba(255, 126, 27, 0.4);
}
