@import 'tailwindcss';

@theme {
  /* colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-950: #1d2026;
  --color-grey-500: #69707d;
  --color-grey-300: #c3cad9;
  --color-grey-100: #e4e9f2;
  --color-grey-50: #f6f8fd;
  --color-orange-500: #ff7e1b;
  --color-orange-300: #ffab6a;

  /* text */
  --text-preset-1: 2.75rem;
  --text-preset-1--line-height: 3rem;
  --text-preset-1--letter-spacing: 0rem;
  --text-preset-1--font-weight: 700;

  --text-preset-2: 1.75rem;
  --text-preset-2--line-height: 2rem;
  --text-preset-2--letter-spacing: 0rem;
  --text-preset-2--font-weight: 700;

  --text-preset-3: 1rem;
  --text-preset-3--line-height: 1.625rem;
  --text-preset-3--letter-spacing: 0rem;

  --text-preset-4: 0.938rem;
  --text-preset-4--line-height: 1.625rem;
  --text-preset-4--letter-spacing: 0rem;
  --text-preset-4--font-weight: 400;

  --text-preset-5: 0.813rem;
  --text-preset-5--line-height: 1rem;
  --text-preset-5--letter-spacing: 0.125rem;
  --text-preset-5--font-weight: 700;

  --text-preset-6: 0.75rem;
  --text-preset-6--line-height: 0.938rem;
  --text-preset-6--letter-spacing: 0.116rem;
  --text-preset-6--font-weight: 700;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Kumbh Sans', sans-serif;
}
